# JuliaTS

In [113]:
using JuliaTS

WARNING: deprecated syntax "call(::Type{Indexes}, ...)".
Use "(::Type{Indexes})(...)" instead.

In [114]:
ta = TArray((:c1,:c2), :c1=>[1:10^6;], :c2=>[1.0:1.0:10^6;], :c3=>[1:10^6;], :c4=>[1.0:1.0:10^6;])

Tuple{Int64,Float64} => Tuple{Int64,Float64}

 (1,1.0) => (1,1.0)
 (2,2.0) => (2,2.0)
 (3,3.0) => (3,3.0)
 (4,4.0) => (4,4.0)
 (5,5.0) => (5,5.0)
 (6,6.0) => (6,6.0)
 (7,7.0) => (7,7.0)
 (8,8.0) => (8,8.0)
 (9,9.0) => (9,9.0)
 (10,10.0) => (10,10.0)
 ⋮
 (999991,999991.0) => (999991,999991.0)
 (999992,999992.0) => (999992,999992.0)
 (999993,999993.0) => (999993,999993.0)
 (999994,999994.0) => (999994,999994.0)
 (999995,999995.0) => (999995,999995.0)
 (999996,999996.0) => (999996,999996.0)
 (999997,999997.0) => (999997,999997.0)
 (999998,999998.0) => (999998,999998.0)
 (999999,999999.0) => (999999,999999.0)
 (1000000,1.0e6) => (1000000,1.0e6)

TArray 1000000x4  (:c1,:c2) => (:c3,:c4)

In [118]:
function myfn1(ta::TArray, col)
    x = getvals(ta, col)
    j = zero(eltype(x))
    for v in x
        j += v
    end
    j
end
myfn2(ta::TArray, col) = sum(getvals(ta, col))

WARNING: Method definition myfn1(JuliaTS.TArray, Any) in module Main at In[115]:2 overwritten at In[118]:2.
WARNING: Method definition myfn2(JuliaTS.TArray, Any) in module Main at In[115]:9 overwritten at In[118]:9.

myfn2 (generic function with 1 method)

In [132]:
typeof(ta)

JuliaTS.TArray{Tuple{Int64,Float64},Tuple{Int64,Float64},Tuple{Array{Int64,1},Array{Float64,1}},NDSparseData.Indexes{Tuple{Int64,Float64},Tuple{Array{Int64,1},Array{Float64,1}}}}

In [119]:
@time myfn1(ta, :c3)

  0.206211 seconds (6.00 M allocations: 106.869 MB, 9.32% gc time)

500000500000

In [120]:
@time myfn2(ta, :c3)

  0.005731 seconds (10.69 k allocations: 181.475 KB)

500000500000

In [121]:
@code_warntype myfn1(ta, :c3)

Variables:
  #self#::#myfn1
  ta::JuliaTS.TArray{Tuple{Int64,Float64},Tuple{Int64,Float64},Tuple{Array{Int64,1},Array{Float64,1}},NDSparseData.Indexes{Tuple{Int64,Float64},Tuple{Array{Int64,1},Array{Float64,1}}}}
  col::Symbol
  x::UNION{ARRAY{FLOAT64,1},ARRAY{INT64,1}}
  j::ANY
  #temp#::Int64
  v::REAL
  idx::Int64

Body:
  begin  # In[118], line 2: # /home/tan/.julia/v0.5/JuliaTS/src/ts.jl, line 155:
      idx::Int64 = (Base.findnext)((top(getfield))(ta::JuliaTS.TArray{Tuple{Int64,Float64},Tuple{Int64,Float64},Tuple{Array{Int64,1},Array{Float64,1}},NDSparseData.Indexes{Tuple{Int64,Float64},Tuple{Array{Int64,1},Array{Float64,1}}}},:valnames)::TUPLE,col::Symbol,1)::Int64 # /home/tan/.julia/v0.5/JuliaTS/src/ts.jl, line 156:
      x::UNION{ARRAY{FLOAT64,1},ARRAY{INT64,1}} = (Base.getfield)((top(getfield))((top(getfield))((top(getfield))(ta::JuliaTS.TArray{Tuple{Int64,Float64},Tuple{Int64,Float64},Tuple{Array{Int64,1},Array{Float64,1}},NDSparseData.Indexes{Tuple{Int64,Float64},Tuple{Array{Int64,1},Array{Float64,1}}}},:data)::NDSparseData.NDSparse{Tuple{Int64,Float64},Tuple{Int64,Float64},Tuple{Array{Int64,1},Array{Float64,1}},NDSparseData.Indexes{Tuple{Int64,Float64},Tuple{Array{Int64,1},Array{Float64,1}}}},:data)::NDSparseData.Indexes{Tuple{Int64,Float64},Tuple{Array{Int64,1},Array{Float64,1}}},:columns)::Tuple{Array{Int64,1},Array{Float64,1}},idx::Int64)::UNION{ARRAY{FLOAT64,1},ARRAY{INT64,1}} # In[118], line 3:
      j::ANY = (Main.zero)((Main.eltype)(x::UNION{ARRAY{FLOAT64,1},ARRAY{INT64,1}})::UNION{TYPE{FLOAT64},TYPE{INT64}})::UNION{FLOAT64,INT64} # In[118], line 4:
      GenSym(0) = x::UNION{ARRAY{FLOAT64,1},ARRAY{INT64,1}}
      #temp#::Int64 = (top(start))(GenSym(0))::Int64
      11:
      GenSym(2) = (top(done))(GenSym(0),#temp#::Int64)::Bool # bool.jl, line 16:
      unless (Base.box)(Base.Bool,(Base.not_int)(GenSym(2))) goto 22
      GenSym(1) = (top(next))(GenSym(0),#temp#::Int64)::TUPLE{REAL,INT64}
      v::REAL = (top(getfield))(GenSym(1),1)::REAL
      #temp#::Int64 = (top(getfield))(GenSym(1),2)::Int64 # In[118], line 5:
      j::ANY = (j::ANY + v::REAL)::ANY
      20:
      goto 11
      22:
      23:  # In[118], line 7:
      return j::ANY
  end::ANY

# TypedTables

In [167]:
using TypedTables

In [168]:
t = @table(c1::Int64=[1:10^6;], c2::Float64=[1.0:1.0:10^6;], c3::Int64=[1:10^6;], c4::Float64=[1.0:1.0:10^6;])

        ┌─────────┬─────────┬─────────┬─────────┐
Row     │ c1      │ c2      │ c3      │ c4      │
        ├─────────┼─────────┼─────────┼─────────┤
      1 │       1 │ 1.      │       1 │ 1.      │
      2 │       2 │ 2.      │       2 │ 2.      │
      3 │       3 │ 3.      │       3 │ 3.      │
      4 │       4 │ 4.      │       4 │ 4.      │
      5 │       5 │ 5.      │       5 │ 5.      │
      6 │       6 │ 6.      │       6 │ 6.      │
        │    ⋮    │    ⋮    │    ⋮    │    ⋮    │
 999995 │  999995 │   1e+06 │  999995 │   1e+06 │
 999996 │  999996 │   1e+06 │  999996 │   1e+06 │
 999997 │  999997 │   1e+06 │  999997 │   1e+06 │
 999998 │  999998 │   1e+06 │  999998 │   1e+06 │
 999999 │  999999 │   1e+06 │  999999 │   1e+06 │
1000000 │ 1000000 │   1e+06 │ 1000000 │   1e+06 │
        └─────────┴─────────┴─────────┴─────────┘

In [163]:
using NullableArrays

In [169]:
tn = @table(c1::Int64=[1:10^6;], c2::Float64=[1.0:1.0:10^6;], c3::Int64=[1:10^6;],
            c4::Nullable{Float64}=NullableArray([1.0:1.0:10^6;], rand(Bool, 10^6)))

        ┌─────────┬─────────┬─────────┬──────────────┐
Row     │ c1      │ c2      │ c3      │ c4           │
        ├─────────┼─────────┼─────────┼──────────────┤
      1 │       1 │ 1.      │       1 │         NULL │
      2 │       2 │ 2.      │       2 │       2.     │
      3 │       3 │ 3.      │       3 │       3.     │
      4 │       4 │ 4.      │       4 │         NULL │
      5 │       5 │ 5.      │       5 │         NULL │
      6 │       6 │ 6.      │       6 │       6.     │
        │    ⋮    │    ⋮    │    ⋮    │      ⋮       │
 999995 │  999995 │   1e+06 │  999995 │  999995.     │
 999996 │  999996 │   1e+06 │  999996 │         NULL │
 999997 │  999997 │   1e+06 │  999997 │  999997.     │
 999998 │  999998 │   1e+06 │  999998 │         NULL │
 999999 │  999999 │   1e+06 │  999999 │         NULL │
1000000 │ 1000000 │   1e+06 │ 1000000 │ 1000000.     │
        └─────────┴─────────┴─────────┴──────────────┘

In [172]:
@generated function ttfn1{c}(t::Table, col::Type{Val{c}})
    d = Dict([(typeof(f).parameters...,) for f in t.parameters[1]])
    T = d[c]
    
    quote
        x = t[col]::Array{$T,1}
        j = zero($T)
        for v in x
            j += v
        end
        j
    end
end
ttfn2(t::Table, col) = sum(t[Val{col}])

WARNING: Method definition ttfn1(TypedTables.Table, Type{Base.Val{#c<:Any}}) in module Main at In[137]:2 overwritten at In[172]:2.
WARNING: Method definition ttfn2(TypedTables.Table, Any) in module Main at In[137]:14 overwritten at In[172]:14.

ttfn2 (generic function with 1 method)

In [174]:
@time ttfn1(t, Val{:c3})

  0.000859 seconds (5 allocations: 176 bytes)

500000500000

In [176]:
@time ttfn2(t, :c3)

  0.000801 seconds (10.23 k allocations: 159.938 KB)

500000500000

In [205]:
t12 = t[[1:2:10;], Val{(:c1, :c2)}]

    ┌────┬────┐
Row │ c1 │ c2 │
    ├────┼────┤
  1 │ 1  │ 1. │
  2 │ 3  │ 3. │
  3 │ 5  │ 5. │
  4 │ 7  │ 7. │
  5 │ 9  │ 9. │
    └────┴────┘

In [206]:
typeof(t12)

TypedTables.Table{(c1::Int64,c2::Float64),Tuple{Int64,Float64},Tuple{Array{Int64,1},Array{Float64,1}}}

In [207]:
t[Val{:c1}]

1000000-element Array{Int64,1}:
       1
       2
       3
       4
       5
       6
       7
       8
       9
      10
      11
      12
      13
       ⋮
  999989
  999990
  999991
  999992
  999993
  999994
  999995
  999996
  999997
  999998
  999999
 1000000

In [208]:
I = @index(c1::Int64, c2::Float64)

(c1::Int64,c2::Float64)

In [209]:
typeof(I)

TypedTables.FieldIndex{(c1::Int64,c2::Float64)}

In [210]:
for x in I
    println(x)
end

c1::Int64
c2::Float64

# StructsOfArrays

Seems to be useful only to acess a row as types. Column vectors not exposed to outside.

Could be used with some new methods that expose the column vectors.

# DataFramesMeta

In [177]:
using DataFramesMeta
using DataFrames

In [178]:
df = DataFrame(c1=[1:10^6;], c2=[1.0:1.0:10^6;], c3=[1:10^6;], c4=[1.0:1.0:10^6;])

1000000x4 DataFrames.DataFrame
│ Row     │ c1      │ c2       │ c3      │ c4       │
┝━━━━━━━━━┿━━━━━━━━━┿━━━━━━━━━━┿━━━━━━━━━┿━━━━━━━━━━┥
│ 1       │ 1       │ 1.0      │ 1       │ 1.0      │
│ 2       │ 2       │ 2.0      │ 2       │ 2.0      │
│ 3       │ 3       │ 3.0      │ 3       │ 3.0      │
│ 4       │ 4       │ 4.0      │ 4       │ 4.0      │
│ 5       │ 5       │ 5.0      │ 5       │ 5.0      │
│ 6       │ 6       │ 6.0      │ 6       │ 6.0      │
│ 7       │ 7       │ 7.0      │ 7       │ 7.0      │
│ 8       │ 8       │ 8.0      │ 8       │ 8.0      │
│ 9       │ 9       │ 9.0      │ 9       │ 9.0      │
│ 10      │ 10      │ 10.0     │ 10      │ 10.0     │
│ 11      │ 11      │ 11.0     │ 11      │ 11.0     │
⋮
│ 999989  │ 999989  │ 999989.0 │ 999989  │ 999989.0 │
│ 999990  │ 999990  │ 999990.0 │ 999990  │ 999990.0 │
│ 999991  │ 999991  │ 999991.0 │ 999991  │ 999991.0 │
│ 999992  │ 999992  │ 999992.0 │ 999992  │ 999992.0 │
│ 999993  │ 999993  │ 999993.0 │ 999993  │ 999993.0 │
│ 999994  │ 999994  │ 999994.0 │ 999994  │ 999994.0 │
│ 999995  │ 999995  │ 999995.0 │ 999995  │ 999995.0 │
│ 999996  │ 999996  │ 999996.0 │ 999996  │ 999996.0 │
│ 999997  │ 999997  │ 999997.0 │ 999997  │ 999997.0 │
│ 999998  │ 999998  │ 999998.0 │ 999998  │ 999998.0 │
│ 999999  │ 999999  │ 999999.0 │ 999999  │ 999999.0 │
│ 1000000 │ 1000000 │ 1.0e6    │ 1000000 │ 1.0e6    │

In [179]:
col = :c1
eltype(df[col])

Int64

In [180]:
@with df begin
    j = zero((eltype(:c1)))
    for v in :c1
        j += v
    end
    return j
end

500000500000

In [181]:
col = :c1
@with df begin
    quote
        return sum(esc(col))
    end
end

LoadError: LoadError: MethodError: no method matching getindex(::DataFrames.DataFrame, ::Expr)
Closest candidates are:
  getindex(::DataFrames.DataFrame, !Matched::Colon)
  getindex(::DataFrames.DataFrame, !Matched::Colon, !Matched::Colon)
  getindex(::DataFrames.DataFrame, !Matched::Real, !Matched::Union{Real,Symbol})
  ...
while loading In[181], in expression starting on line 2

In [76]:
function dffn1(t::DataFrame, col)
    @with t begin
        j = zero(eltype(col))
        for v in col
            j += v
        end
        return j
    end
end
dffn2(t::DataFrame, col) = @with df begin
    return sum(col)
end

WARNING: Method definition dffn1(DataFrames.DataFrame, Any) in module Main at In[61]:2 overwritten at In[76]:2.
WARNING: Method definition dffn2(DataFrames.DataFrame, Any) in module Main at In[61]:10 overwritten at In[76]:10.

dffn2 (generic function with 1 method)