In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from datetime import datetime
import matplotlib as plt

In [2]:
time cash = pd.read_csv('sample_cash.csv', parse_dates=['timestamp'], index_col=['timestamp'])

CPU times: user 7 s, sys: 356 ms, total: 7.36 s
Wall time: 9.94 s

In [3]:
cash.head()

                        messagetype      symbol ordertype  price  quantity
timestamp
2015-11-02 09:15:00.028           N  ZIJYHGMAQB         S     30   1000000
2015-11-02 09:15:00.028           N  DLINPKXTEH         S   7100         1
2015-11-02 09:15:00.028           N  GUBMZEKWIJ         S   6690      1500
2015-11-02 09:15:00.028           N  HYNEGMRZKF         S     20   1000000
2015-11-02 09:15:00.028           N  DLINPKXTEH         B   4800         1

In [4]:
order_prices = cash[['symbol', 'price']]
order_prices.head()

                             symbol  price
timestamp
2015-11-02 09:15:00.028  ZIJYHGMAQB     30
2015-11-02 09:15:00.028  DLINPKXTEH   7100
2015-11-02 09:15:00.028  GUBMZEKWIJ   6690
2015-11-02 09:15:00.028  HYNEGMRZKF     20
2015-11-02 09:15:00.028  DLINPKXTEH   4800

In [5]:
time res = order_prices.groupby('symbol').resample('1d', how='ohlc')

CPU times: user 4.04 s, sys: 100 ms, total: 4.14 s
Wall time: 4.19 s

In [6]:
res

                        price
                         open     high     low    close
symbol     timestamp
ABENSKZTJW 2015-11-02    3000    16250     180     3040
ABSWFEGTYO 2015-11-02   41250    81000    4420    81000
AECUPHBSWG 2015-11-02   14490    27400    6010    22210
AFIUXPGOEB 2015-11-02   16200   240700     110      500
AFLCDZNYJO 2015-11-02   13645   109955     200    13975
AFOUIZTJHK 2015-11-02   26370   139200    2790   117160
AFQDRYBKTH 2015-11-02    2405    88530     455    25190
AFYOUCMXQG 2015-11-02   51000    62440       5        5
AGUFPKHSBE 2015-11-02   46000    53700    2920     3840
AGVLJHIXRP 2015-11-02  148000   221100     760     6355
AHIQGFXLWE 2015-11-02     210    37500     190    35500
AHVKGYBLSF 2015-11-02    3630  1950000     795     3220
AHWOUTJVLM 2015-11-02   40000    48300    3955     4045
AIGMPRXVBO 2015-11-02     430  1375000     365     3275
AIJBVFSROZ 2015-11-02   43200    58190    1310     1585
AIQDWPLZEK 2015-11-02    7800     9515    6710     8280
AJDBHUPMOK 2015-11-02   22435   444400   10460   425795
AJNWVIBDUT 2015-11-02    8000   152200    1120   133525
AJUNPCRIGK 2015-11-02    3860    18700    3220    15565
AJVZPYUBLK 2015-11-02   43985   763200     310   762070
AKHUCTWFPJ 2015-11-02    7305    38900     610    38290
AKUDSLTQHP 2015-11-02    9300    63500    2000     6065
ALKCVNWTJI 2015-11-02  203300   211500    1010    11200
ALQJRCSVNT 2015-11-02  219000   227020  185800   204005
ALTKBFRDIZ 2015-11-02   34100    40540    1725     4530
ALUVYFDQJX 2015-11-02    1950   244000    1595     6700
AMFIHZPSCX 2015-11-02     350   145000     310   141220
ANIQOUDPBM 2015-11-02   83000    91300     270    41300
ANIVERHDSL 2015-11-02    7080   814500      80     1390
ANMCDTPIFY 2015-11-02    6605    99890    2100    99500
...                       ...      ...     ...      ...
ZPTCLFHVAM 2015-11-02    8265   160000    3960     3960
ZQAEDTBRLI 2015-11-02   11650    65400    9180    11510
ZQBXEGRSUI 2015-11-02   41000    45300    2050     2050
ZQHDVRTSCB 2015-11-02   78305    95805   19040    85750
ZQJLHSFPKN 2015-11-02    3210    66990    3210    55900
ZQXSYWRVDH 2015-11-02    7000   419000    6695   341800
ZRLWTNHQXM 2015-11-02    7000    19990    5790    17190
ZRWVGHEYIC 2015-11-02    2950   317465       5   190000
ZSHJXQVBOT 2015-11-02    5855    18900    2705     7550
ZSONUBAQMK 2015-11-02    6230     9700     655      655
ZSRFTAHKVJ 2015-11-02    6100    70900    4860    65490
ZTEIQUXWKG 2015-11-02   43700   238000    5555   204600
ZTEWKFMJNV 2015-11-02     415   340040     160      185
ZUNOBHEJSI 2015-11-02    9800  4170000    1780  3944695
ZUPHMBEKRC 2015-11-02    5340    56925     300    50400
ZVCQLPAHWS 2015-11-02    1445   100135    1215    10095
ZVLCUESRHW 2015-11-02  378010   465000    5610     6450
ZWHBEJOYDC 2015-11-02  205590   265000    5075     5155
ZWIPHVXNKF 2015-11-02  169000   200000    2335     2335
ZWSXUFECNA 2015-11-02   32110    38950   26100    34000
ZXAIRQDTEL 2015-11-02    1370   231000     905      990
ZXDSUBNMTO 2015-11-02   11240    57500    1320     9900
ZXGSHPFOWM 2015-11-02    8800   999990    7650    90250
ZXTSOVCLJH 2015-11-02    5400   171900     800    17100
ZYBWKTUDFG 2015-11-02   13895    50360    6875     7995
ZYGJUWKORT 2015-11-02   80155   102500    2200     2625
ZYPJHRUOBC 2015-11-02   17430    67500    5265    57100
ZYQLCAUKIX 2015-11-02  138995   164600  106000   147820
ZYVHERDOLC 2015-11-02   16550    44900    4755    26060
ZYVWKHXOPA 2015-11-02  730000   740800    1305    39500

[1472 rows x 4 columns]