In [21]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from datetime import datetime

In [5]:
pd.Timestamp.mro()

[pandas.tslib.Timestamp,
 pandas.tslib._Timestamp,
 datetime.datetime,
 datetime.date,
 object]

In [8]:
stamp = pd.Timestamp('17/04/2016 23:14:00')
stamp

Timestamp('2016-04-17 23:14:00')

In [10]:
# the nano second value
stamp.value

1460934840000000000

In [11]:
dates = ['2007/05/19', '01/07/2004', '02/07/2004']
pd.to_datetime(dates)

DatetimeIndex(['2007-05-19', '2004-01-07', '2004-02-07'], dtype='datetime64[ns]', freq=None)

In [13]:
ts = Series(range(3), index=pd.to_datetime(dates))
ts

2007-05-19    0
2004-01-07    1
2004-02-07    2
dtype: int64

# Indexing

In [15]:
rng = pd.date_range('2012-07-17', periods=1000)
rng

DatetimeIndex(['2012-07-17', '2012-07-18', '2012-07-19', '2012-07-20',
               '2012-07-21', '2012-07-22', '2012-07-23', '2012-07-24',
               '2012-07-25', '2012-07-26',
               ...
               '2015-04-03', '2015-04-04', '2015-04-05', '2015-04-06',
               '2015-04-07', '2015-04-08', '2015-04-09', '2015-04-10',
               '2015-04-11', '2015-04-12'],
              dtype='datetime64[ns]', length=1000, freq='D')

In [17]:
ts = Series(np.arange(1000), index=rng)
ts

2012-07-17      0
2012-07-18      1
2012-07-19      2
2012-07-20      3
2012-07-21      4
2012-07-22      5
2012-07-23      6
2012-07-24      7
2012-07-25      8
2012-07-26      9
2012-07-27     10
2012-07-28     11
2012-07-29     12
2012-07-30     13
2012-07-31     14
2012-08-01     15
2012-08-02     16
2012-08-03     17
2012-08-04     18
2012-08-05     19
2012-08-06     20
2012-08-07     21
2012-08-08     22
2012-08-09     23
2012-08-10     24
2012-08-11     25
2012-08-12     26
2012-08-13     27
2012-08-14     28
2012-08-15     29
             ...
2015-03-14    970
2015-03-15    971
2015-03-16    972
2015-03-17    973
2015-03-18    974
2015-03-19    975
2015-03-20    976
2015-03-21    977
2015-03-22    978
2015-03-23    979
2015-03-24    980
2015-03-25    981
2015-03-26    982
2015-03-27    983
2015-03-28    984
2015-03-29    985
2015-03-30    986
2015-03-31    987
2015-04-01    988
2015-04-02    989
2015-04-03    990
2015-04-04    991
2015-04-05    992
2015-04-06    993
2015-04-07    994
2015-04-08    995
2015-04-09    996
2015-04-10    997
2015-04-11    998
2015-04-12    999
Freq: D, dtype: int64

In [23]:
ts[datetime(2012, 11, 27)]

133

In [24]:
ts['2012-11-27']

133

In [25]:
ts[ts.index[133]]

133

In [26]:
ts[:ts.index[10]]

2012-07-17     0
2012-07-18     1
2012-07-19     2
2012-07-20     3
2012-07-21     4
2012-07-22     5
2012-07-23     6
2012-07-24     7
2012-07-25     8
2012-07-26     9
2012-07-27    10
Freq: D, dtype: int64

In [28]:
ts['2012-07-18 07:00' : '2012-07-27 12:00']

2012-07-19     2
2012-07-20     3
2012-07-21     4
2012-07-22     5
2012-07-23     6
2012-07-24     7
2012-07-25     8
2012-07-26     9
2012-07-27    10
Freq: D, dtype: int64

In [31]:
ts2 = ts.take(np.random.permutation(len(ts)))
ts2

2013-11-30    501
2013-07-15    363
2015-04-03    990
2013-05-11    298
2014-06-07    690
2012-11-17    123
2013-09-06    416
2014-01-21    553
2012-11-25    131
2012-10-03     78
2014-07-19    732
2014-11-15    851
2014-04-29    651
2013-07-02    350
2012-08-03     17
2014-02-20    583
2013-04-20    277
2015-03-17    973
2013-11-19    490
2014-10-06    811
2014-01-30    562
2014-08-30    774
2014-01-10    542
2013-11-13    484
2013-09-28    438
2013-11-21    492
2013-10-09    449
2013-05-13    300
2015-02-19    947
2015-03-22    978
             ...
2012-10-07     82
2012-12-24    160
2013-10-06    446
2014-03-12    603
2013-07-29    377
2012-11-21    127
2014-12-01    867
2013-05-12    299
2013-01-18    185
2012-11-01    107
2013-02-01    199
2014-09-20    795
2012-11-30    136
2013-06-30    348
2014-02-13    576
2014-06-17    700
2013-05-23    310
2015-03-26    982
2014-09-14    789
2014-01-28    560
2012-08-07     21
2013-06-25    343
2013-03-03    229
2015-01-25    922
2015-02-09    937
2014-08-08    752
2012-09-20     65
2012-09-12     57
2013-12-05    506
2013-10-28    468
dtype: int64

In [33]:
ts2['2012-07-18 07:00' : '2012-07-27 12:00']

2012-07-20     3
2012-07-22     5
2012-07-23     6
2012-07-26     9
2012-07-19     2
2012-07-24     7
2012-07-27    10
2012-07-21     4
2012-07-25     8
dtype: int64

In [35]:
ts2.sort_index()

2012-07-17      0
2012-07-18      1
2012-07-19      2
2012-07-20      3
2012-07-21      4
2012-07-22      5
2012-07-23      6
2012-07-24      7
2012-07-25      8
2012-07-26      9
2012-07-27     10
2012-07-28     11
2012-07-29     12
2012-07-30     13
2012-07-31     14
2012-08-01     15
2012-08-02     16
2012-08-03     17
2012-08-04     18
2012-08-05     19
2012-08-06     20
2012-08-07     21
2012-08-08     22
2012-08-09     23
2012-08-10     24
2012-08-11     25
2012-08-12     26
2012-08-13     27
2012-08-14     28
2012-08-15     29
             ...
2015-03-14    970
2015-03-15    971
2015-03-16    972
2015-03-17    973
2015-03-18    974
2015-03-19    975
2015-03-20    976
2015-03-21    977
2015-03-22    978
2015-03-23    979
2015-03-24    980
2015-03-25    981
2015-03-26    982
2015-03-27    983
2015-03-28    984
2015-03-29    985
2015-03-30    986
2015-03-31    987
2015-04-01    988
2015-04-02    989
2015-04-03    990
2015-04-04    991
2015-04-05    992
2015-04-06    993
2015-04-07    994
2015-04-08    995
2015-04-09    996
2015-04-10    997
2015-04-11    998
2015-04-12    999
dtype: int64

In [36]:
ts['2012-07':'2013']

2012-07-17      0
2012-07-18      1
2012-07-19      2
2012-07-20      3
2012-07-21      4
2012-07-22      5
2012-07-23      6
2012-07-24      7
2012-07-25      8
2012-07-26      9
2012-07-27     10
2012-07-28     11
2012-07-29     12
2012-07-30     13
2012-07-31     14
2012-08-01     15
2012-08-02     16
2012-08-03     17
2012-08-04     18
2012-08-05     19
2012-08-06     20
2012-08-07     21
2012-08-08     22
2012-08-09     23
2012-08-10     24
2012-08-11     25
2012-08-12     26
2012-08-13     27
2012-08-14     28
2012-08-15     29
             ...
2013-12-02    503
2013-12-03    504
2013-12-04    505
2013-12-05    506
2013-12-06    507
2013-12-07    508
2013-12-08    509
2013-12-09    510
2013-12-10    511
2013-12-11    512
2013-12-12    513
2013-12-13    514
2013-12-14    515
2013-12-15    516
2013-12-16    517
2013-12-17    518
2013-12-18    519
2013-12-19    520
2013-12-20    521
2013-12-21    522
2013-12-22    523
2013-12-23    524
2013-12-24    525
2013-12-25    526
2013-12-26    527
2013-12-27    528
2013-12-28    529
2013-12-29    530
2013-12-30    531
2013-12-31    532
Freq: D, dtype: int64

In [39]:
df = DataFrame(np.arange(4000).reshape((1000,4)), index=rng, columns=['A', 'B', 'C', 'D'])

In [43]:
start = datetime(2013, 1, 1)
df.ix[start:start+pd.offsets.Day(5)]

              A    B    C    D
2013-01-01  672  673  674  675
2013-01-02  676  677  678  679
2013-01-03  680  681  682  683
2013-01-04  684  685  686  687
2013-01-05  688  689  690  691
2013-01-06  692  693  694  695

In [46]:
# 3rd friday of each month
list(pd.date_range('2000-01-01', periods=5, freq='WOM-3FRI'))

[Timestamp('2000-01-21 00:00:00', offset='WOM-3FRI'),
 Timestamp('2000-02-18 00:00:00', offset='WOM-3FRI'),
 Timestamp('2000-03-17 00:00:00', offset='WOM-3FRI'),
 Timestamp('2000-04-21 00:00:00', offset='WOM-3FRI'),
 Timestamp('2000-05-19 00:00:00', offset='WOM-3FRI')]