In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from datetime import datetime
import matplotlib as plt

In [14]:
# create a naive timestamp (stamp.tz is not assigned)
stamp_naive = pd.Timestamp('now')
stamp_naive

Timestamp('2016-04-14 04:29:35.898753')

In [15]:
stamp_naive.tz

In [16]:
# create a timestamp that's timezone aware
stamp = pd.Timestamp('now', tz='Asia/Calcutta')
stamp

Timestamp('2016-04-14 09:59:36.902184+0530', tz='Asia/Calcutta')

In [17]:
stamp.tz

In [21]:
# convert a naive timestamp to tz aware
stamp2 = stamp_naive.tz_localize('UTC')
stamp2

Timestamp('2016-04-14 04:29:35.898753+0000', tz='UTC')

In [26]:
stamp3 = stamp2.tz_convert('US/Central')
stamp3

Timestamp('2016-04-13 23:29:35.898753-0500', tz='US/Central')

In [27]:
print("stamp_native:", stamp_naive.value, " stamp2:", stamp2.value, " stamp3:", stamp3.value)

stamp_native: 1460608175898753000  stamp2: 1460608175898753000  stamp3: 1460608175898753000

In [31]:
stamp3 == stamp2

True

In [33]:
rng = pd.date_range('2012-03-12', periods=20, tz='Asia/Calcutta')
ts = Series(range(20), index=rng)
ts

2012-03-12 00:00:00+05:30     0
2012-03-13 00:00:00+05:30     1
2012-03-14 00:00:00+05:30     2
2012-03-15 00:00:00+05:30     3
2012-03-16 00:00:00+05:30     4
2012-03-17 00:00:00+05:30     5
2012-03-18 00:00:00+05:30     6
2012-03-19 00:00:00+05:30     7
2012-03-20 00:00:00+05:30     8
2012-03-21 00:00:00+05:30     9
2012-03-22 00:00:00+05:30    10
2012-03-23 00:00:00+05:30    11
2012-03-24 00:00:00+05:30    12
2012-03-25 00:00:00+05:30    13
2012-03-26 00:00:00+05:30    14
2012-03-27 00:00:00+05:30    15
2012-03-28 00:00:00+05:30    16
2012-03-29 00:00:00+05:30    17
2012-03-30 00:00:00+05:30    18
2012-03-31 00:00:00+05:30    19
Freq: D, dtype: int64

In [34]:
ts.tz_convert('US/Central')

2012-03-11 13:30:00-05:00     0
2012-03-12 13:30:00-05:00     1
2012-03-13 13:30:00-05:00     2
2012-03-14 13:30:00-05:00     3
2012-03-15 13:30:00-05:00     4
2012-03-16 13:30:00-05:00     5
2012-03-17 13:30:00-05:00     6
2012-03-18 13:30:00-05:00     7
2012-03-19 13:30:00-05:00     8
2012-03-20 13:30:00-05:00     9
2012-03-21 13:30:00-05:00    10
2012-03-22 13:30:00-05:00    11
2012-03-23 13:30:00-05:00    12
2012-03-24 13:30:00-05:00    13
2012-03-25 13:30:00-05:00    14
2012-03-26 13:30:00-05:00    15
2012-03-27 13:30:00-05:00    16
2012-03-28 13:30:00-05:00    17
2012-03-29 13:30:00-05:00    18
2012-03-30 13:30:00-05:00    19
Freq: D, dtype: int64

In [36]:
ts['2012-03-14']

2