In [44]:
import pandas as pd
from pandas import Panel, date_range, DataFrame
import numpy as np

In [45]:
wp = Panel(np.random.randn(2, 5, 4), items=['Item1', 'Item2'],
           major_axis=date_range('1/1/2000', periods=5),
           minor_axis=['A', 'B', 'C', 'D'])

In [46]:
wp

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 5 (major_axis) x 4 (minor_axis)
Items axis: Item1 to Item2
Major_axis axis: 2000-01-01 00:00:00 to 2000-01-05 00:00:00
Minor_axis axis: A to D

In [47]:
data = {'Item1' : DataFrame(np.random.randn(4, 3)), 'Item2' : DataFrame(np.random.randn(4, 2))}
Panel(data)

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 4 (major_axis) x 3 (minor_axis)
Items axis: Item1 to Item2
Major_axis axis: 0 to 3
Minor_axis axis: 0 to 2

In [48]:
wp['Item1']

                   A         B         C         D
2000-01-01 -0.124980 -1.099584 -0.267012  1.373697
2000-01-02 -1.268545  0.108283  0.375498  0.651687
2000-01-03 -0.910273  1.369153  0.725204 -1.457973
2000-01-04 -0.065011 -0.022769 -0.779853 -0.060972
2000-01-05  0.227465  0.159204  1.131638  0.986827

In [50]:
wp['Item2']

                   A         B         C         D
2000-01-01  0.359697  0.772396 -0.105534  0.177968
2000-01-02 -0.851953 -0.273280  0.058103 -1.103440
2000-01-03 -0.249542 -1.548813 -1.957729 -0.815674
2000-01-04  0.080731 -1.451506  1.150252  1.855482
2000-01-05  1.140552  0.425179 -1.389133 -1.678808

In [51]:
wp['Item1']['A']

2000-01-01   -0.124980
2000-01-02   -1.268545
2000-01-03   -0.910273
2000-01-04   -0.065011
2000-01-05    0.227465
Freq: D, Name: A, dtype: float64

In [52]:
wp.major_axis

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05'],
              dtype='datetime64[ns]', freq='D')

In [53]:
wp.major_axis[2]

Timestamp('2000-01-03 00:00:00', offset='D')

In [55]:
wp.major_xs(wp.major_axis[2])

      Item1     Item2
A -0.910273 -0.249542
B  1.369153 -1.548813
C  0.725204 -1.957729
D -1.457973 -0.815674

In [43]:
wp.minor_xs(wp.minor_axis[1])

               Item1     Item2
2000-01-01 -0.836762 -0.005542
2000-01-02  0.527619 -0.132146
2000-01-03 -0.198008 -0.904349
2000-01-04 -1.769823 -1.549994
2000-01-05 -1.546301 -1.492525

In [56]:
wp1 = wp.transpose(2,0,1)

In [57]:
wp1['A']

       2000-01-01  2000-01-02  2000-01-03  2000-01-04  2000-01-05
Item1   -0.124980   -1.268545   -0.910273   -0.065011    0.227465
Item2    0.359697   -0.851953   -0.249542    0.080731    1.140552

In [1]:
from pandas.io import data as web

/opt/conda/lib/python3.4/site-packages/pandas/io/data.py:33: FutureWarning:
The pandas.io.data module is moved to a separate package (pandas-datareader) and will be removed from pandas in a future version.
After installing the pandas-datareader package (https://github.com/pydata/pandas-datareader), you can change the import ``from pandas.io import data, wb`` to ``from pandas_datareader import data, wb``.
  FutureWarning)

In [2]:
data = web.DataReader("GOOG", "IBM", "2015-04-01", "2015-04-10")

In [5]:
dt1 = web.DataReader("IBM", "google", "2015-04-01", "2015-04-10")
dt1

              Open    High     Low   Close   Volume
Date
2015-04-01  160.23  160.62  158.39  159.18  3700791
2015-04-02  159.52  162.54  158.89  160.45  4671578
2015-04-06  159.69  162.80  158.70  162.04  3465682
2015-04-07  161.67  163.84  161.62  162.07  3147975
2015-04-08  161.72  163.55  161.01  161.85  2524323
2015-04-09  161.70  162.47  160.72  162.34  2263490
2015-04-10  162.34  163.33  161.25  162.86  2515703

In [6]:
dt2 = web.DataReader("MSFT", "google", "2015-04-01", "2015-04-10")
dt2

             Open   High    Low  Close    Volume
Date
2015-04-01  40.60  40.76  40.31  40.72  36865322
2015-04-02  40.66  40.74  40.12  40.29  37487476
2015-04-06  40.34  41.78  40.18  41.54  39223692
2015-04-07  41.61  41.91  41.31  41.53  28809375
2015-04-08  41.46  41.69  41.04  41.42  24753438
2015-04-09  41.25  41.62  41.25  41.48  25723861
2015-04-10  41.63  41.95  41.41  41.72  28022002

In [8]:
panel = web.DataReader(["IBM", "MSFT"], "google", "2015-04-01", "2015-04-10")
panel

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 7 (major_axis) x 2 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2015-04-01 00:00:00 to 2015-04-10 00:00:00
Minor_axis axis: IBM to MSFT

In [9]:
panel['Open']

               IBM   MSFT
Date
2015-04-01  160.23  40.60
2015-04-02  159.52  40.66
2015-04-06  159.69  40.34
2015-04-07  161.67  41.61
2015-04-08  161.72  41.46
2015-04-09  161.70  41.25
2015-04-10  162.34  41.63

In [10]:
panel.minor_xs(panel.minor_axis[1])

             Open   High    Low  Close    Volume
Date
2015-04-01  40.60  40.76  40.31  40.72  36865322
2015-04-02  40.66  40.74  40.12  40.29  37487476
2015-04-06  40.34  41.78  40.18  41.54  39223692
2015-04-07  41.61  41.91  41.31  41.53  28809375
2015-04-08  41.46  41.69  41.04  41.42  24753438
2015-04-09  41.25  41.62  41.25  41.48  25723861
2015-04-10  41.63  41.95  41.41  41.72  28022002

In [11]:
panel.minor_xs(panel.minor_axis[0])

              Open    High     Low   Close   Volume
Date
2015-04-01  160.23  160.62  158.39  159.18  3700791
2015-04-02  159.52  162.54  158.89  160.45  4671578
2015-04-06  159.69  162.80  158.70  162.04  3465682
2015-04-07  161.67  163.84  161.62  162.07  3147975
2015-04-08  161.72  163.55  161.01  161.85  2524323
2015-04-09  161.70  162.47  160.72  162.34  2263490
2015-04-10  162.34  163.33  161.25  162.86  2515703